/* .responsive {
    width: 100%;
    height: auto;
} */

/* .responsive {
    max-width: 100%;
    height: auto;
} */


.main {
    display: flex;
    height: 100vh;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.responsive {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1260px) {
    .main {
        flex-direction: column;
    }

    .section {
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        flex-direction: column;
    }
}